
<p id="notice"><%= notice %></p>

<h2>1. The Shibe World</h2>
<p>
  MMO RPG that handles dogecoin transactions in-game <a href="/theshibeworld">click here to play</a>!
</p>
<img width="400" src="/TheShibeWorld/icon.png"/>

<h2>2. Android Live Wallpapers</h2>
<p>

  Free live wallpapers for your android. Download them on the <a href="https://play.google.com/store/apps/details?id=rosalila.doge.lwpp.black">black</a> or <a href="https://play.google.com/store/apps/details?id=rosalila.doge.lwpp.white">white</a> version.
</p>

<table>
  <tr>
    <td>
      <a href="https://play.google.com/store/apps/details?id=rosalila.doge.lwpp.black">
        <img width="200" src="<%=asset_path('AndroidLwpps/doge_lwpp_screenshot.png')%>"/>
      </a>
      <a href="https://play.google.com/store/apps/details?id=rosalila.doge.lwpp.white">
        <img width="200" src="<%=asset_path('AndroidLwpps/doge_lwpp_screenshot2.png')%>"/>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <h2>3. Dogecoin Gnome 3 extension</h2>
      <p>
        Gnome (linux desktop enviroment) approved our Dogecoin extension <a href="https://extensions.gnome.org/extension/882/such-doge/">click here</a>  to get it.
      </p>
    </td>
  </tr>
</table>

<img width="400" src="<%=asset_path('Gnome3Screenshots/1.png')%>"/>

<table>
  <tr>
    <td colspan="2">
      <h2>4. Shibe treasure casino - Halloween edition</h2>
      <p>So instructions: Pay 5 doges to open a treasure. All treasures have prizes: 10,7,7,6,6,4,4,3,3,3,1 Ð </p>
      <img src="/17.png"/>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Play for doges</h3>
      <%= render 'form' %>
    </td>
    <td>
      <font size=5>
        - or -
      </font>
    </td>
    <td>
      <font size=5>
        <%= link_to 'Play for free', "/freetoplayuser/suchindex" %>
      </font>
    </td>
  </tr>
</table>

<h2>5. The Dogegician</h2>
<p>
  Under development.
</p>
<img width="400" src="<%=asset_path('Dogegician/such_magic.png')%>"/>

<h3 align="center">Very news</h3>
<table align="center">
<tr>
<td>
<ul>
  <li>wow! very site alive at DogeFun.com 11/1/14</li>
  <li>such play for free 12/1/14</li>
  <li>shibe domain dogefun.com 10/9/14</li>
  <li>very site reopen, many features 14/9/14</li>
  <li>such winning chances, very better 17/10/14</li>
  <li>so halloween, such pumpkins 20/10/14</li>
</ul>
</td>
</tr>
</table>

<table align="center">
  <tr>
    <td>
			<img src="/doge glow.png"/>
    </td>
    <td align="center">
      <strong>pls donate DDcSR1mgTpV4U8EA8G1fPwmPFJAi4UtdLK</strong>
      <br/>
      <img src="<%=asset_path('qrcodes/donaciones.png')%>"/>
      <p>Such thanks for <%= curlGetDeposits "donaciones" %> Ðonations!</p>
    </td>
    <td>
			<img src="/doge glow.png"/>
    </td>
  </tr>
</table>

<table align="center">
  <tr>
    <td>
			<img src="/doge glow.png"/>
    </td>
    <td>
			<strong>code licensed as GPL v3 https://github.com/Turupawn/DogeCasinoRails pls give stars</strong>
    </td>
    <td>
			<img src="/doge glow.png"/>
    </td>
  </tr>
</table>
