
<p id="notice"><%= notice %></p>

 <font size="6">deposit much credits here, refresh frenzy until done:   <%= @user.deposit_address %>
</font> 

<table>
  <tr>
    <td>
<h1>so account</h1>

<p>
  <strong>such name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>such address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>deposit much credits here:</strong>
  <%= @user.deposit_address %>
</p>

<h1>have statistics</h1>

<p>
  <strong>so deposits:</strong>
  <%= getDeposits @user %>
</p>
<p>
  <strong>many confirmed deposits:</strong>
  <%= getConfirmedDeposits @user %>
</p>
<p>
  <strong>very played:</strong>
  <%= getCreditsPlayed @user %>
</p>
<p>
  <strong>delishus won:</strong>
  <%= getCreditsWon @user %>
</p>
<p>
  <strong>so withdraw  doges:</strong>
  <%= getWithdraws @user %>
</p>


<p>
<font size=6>
  wow! have current credits:
  <%= getAvailableCredits @user %>
</font>
</p>

    </td>
    <td>
      <canvas id='canvas' width='600' height='400'>
         Canvas not supported
      </canvas>

    <script src = '/canvas_test/sprites.js'></script>
    <script src = '/canvas_test/shapes.js'></script>
    <script src = '/canvas_test/requestNextAnimationFrame.js'></script>

    <script>
var canvas = document.getElementById('canvas'),
    context = canvas.getContext('2d'),
    shapes = [],

    polygonStrokeStyles = [ 'blue', 'yellow', 'red'],
    polygonFillStyles   = [ 'rgba(255,255,0,0.7)',
                            'rgba(100,140,230,0.6)',
                            'rgba(255,255,255,0.8)' ],

    mousedown = { x: 0, y: 0 },
    lastdrag = { x: 0, y: 0 },
    shapeBeingDragged = undefined;

function windowToCanvas(e) {
   var x = e.x || e.clientX,
       y = e.y || e.clientY,
       bbox = canvas.getBoundingClientRect();

   return { x: x - bbox.left * (canvas.width  / bbox.width),
            y: y - bbox.top  * (canvas.height / bbox.height)
          };
};

function drawShapes() {
   shapes.forEach( function (shape) {
      shape.stroke(context);
      shape.fill(context);
   });
}

canvas.onmousedown = function (e) {
   var location = windowToCanvas(e);

   shapes.forEach( function (shape) {
      if (shape.isPointInPath(context, location.x, location.y)) {
         shapeBeingDragged = shape;
         mousedown.x = location.x;
         mousedown.y = location.y;
         lastdrag.x = location.x;
         lastdrag.y = location.y;
      }   
   });
}

canvas.onmousemove = function (e) {
   var location,
       dragVector;

   if (shapeBeingDragged !== undefined) {
      location = windowToCanvas(e);
      dragVector = { x: location.x - lastdrag.x,
                     y: location.y - lastdrag.y
                   };

      shapeBeingDragged.move(dragVector.x, dragVector.y);
      
      lastdrag.x = location.x;
      lastdrag.y = location.y;

      context.clearRect(0,0,canvas.width,canvas.height);
      drawShapes();
      detectCollisions();
   }
}

canvas.onmouseup = function (e) {
   shapeBeingDragged = undefined;
}

var ballSprite = new Sprite('ball', new ImagePainter('tennis-ball.png'));
ballSprite.top = 100;
ballSprite.left = 200;
ballSprite.width = 79;
ballSprite.height = 79;

<%= total_coins = 1352 %>

<%= coins1 = total_coins % 10 %>
<%= coins10 = ((total_coins-coins1) % 100)/10 %>
<%= coins100 = ((total_coins-coins1) % 1000)/100 %>
<%= coins1000 = ((total_coins-coins1))/1000 %>

<% for i in 1..coins1 %>
  shapes.push(new ImageShape('/canvas_test/coins/1.png', <%= rand(500) %>, <%= rand(200) %>));
<% end %>

<% for i in 1..coins10 %>
  shapes.push(new ImageShape('/canvas_test/coins/10.png', <%= rand(500) %>, <%= rand(200) %>));
<% end %>

<% for i in 1..coins100 %>
  shapes.push(new ImageShape('/canvas_test/coins/100.png', <%= rand(500) %>, <%= rand(200) %>));
<% end %>

<% for i in 1..coins1000 %>
  shapes.push(new ImageShape('/canvas_test/coins/1000.png', <%= rand(500) %>, <%= rand(200) %>));
<% end %>

context.shadowColor = 'rgba(100,140,255,0.5)';
context.shadowBlur = 4;
context.shadowOffsetX = 2;
context.shadowOffsetY = 2;
context.font = '38px Arial';

drawShapes();

context.save();
context.fillStyle = 'cornflowerblue';
context.font = '24px Arial';
context.fillText('such drag    very shibes', 10, 25);
context.restore();
    </script>




    </td>
  </tr>
</table>

<% if (getAvailableCredits @user) >= 2 %>

<% @withdraw=Withdraw.new %>
<%= form_for(@withdraw) do |f| %>
  <% if @withdraw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@withdraw.errors.count, "error") %> prohibited this withdraw from being saved:</h2>

      <ul>
      <% @withdraw.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'user', @user.id %>

  <%= hidden_field_tag 'amount', (getAvailableCredits @user) %>

  <div>
    <h2><%= f.label "pls password, then withdraw "+(((getAvailableCredits @user).to_i) -1).to_s+" doges" %></h2>
    (such minimum = 2 /// many tax = 1) <br/>
    <%= password_field :pass, "" %>
  </div>

  <div class="actions">
    <%= f.submit "very withdraw" %>
  </div>
<% end %>

<% end %>



<% @chest=Chest.new %>
<%= form_for(@chest) do |f| %>

  <% if @chest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chest.errors.count, "error") %> prohibited this chest from being saved:</h2>

      <ul>
      <% @chest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'user', @user.id %>

  <div align="center">
    <h1><%= f.label "pls password" %></h1>
    <%= password_field :pass, "" %>

    <h1><%= f.label "wow! multiplier" %></h1>
    <select name="multiplier[]">
      <option value="1">x1</option>
      <option value="2">x2</option>
      <option value="5">x5</option>
      <option value="10">x10</option>
    </select>
  </div>
  <table align="center">
    <% i=0 %>
    <% while (i<11) %>
      <% if (i%2 == 0) %>
        <tr align="center">
      <% end %>
      <td>
        <img src="/pls_open.png"/>
        <div class="actions">
          <%= f.submit 'do open tresure' %>
        </div>
      </td>
      <% if (i%2 != 0) %>
        </tr>
      <% end %>
      <% i+=1 %>
    <% end %>
  <table>
<% end %>




<h1>shibe history</h1>

<table>
  <thead>
    <tr>
      <th>very tresures opened</th>
      <th>wow! multiplier</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.chests.each do |chest| %>
      <tr>
        <td><%= chest.prize %></td>
        <% if chest.multiplier != nil %>
          <td>x<%= chest.multiplier %></td>
        <% else %>
          <td>x1</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th>much withdrw</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.withdraws.each do |w| %>
      <tr>
        <td><%= w.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
