<%= form_for(@chest) do |f| %>
  <% if @chest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chest.errors.count, "error") %> prohibited this chest from being saved:</h2>

      <ul>
      <% @chest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :prize %><br>
    <%= f.text_field :prize %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
